/* Link preferences. */
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

body{
    margin: 0px 20px 0px 20px;

    font-size: 100%;
    font-family: Arial;

    background-color: steelblue;
}

.main_block{
    min-width: 400px;
    max-width: 800px;

    height: 100%;

    margin: auto;
    padding: 0 30px;

    border-style: solid;
    border-width: 0 1px;
    border-color: navy;

    background-color: white;
}

.subsection{
    margin: 20px;
}

.footer{
    margin: 50px 15px 50px 15px;
    text-align: center;
    font-size: 75%;
    font-style: italic;
}
