html

  head
    title vmlaker.github.io
    link(href='style.css', rel='stylesheet', type='text/css')

  body
    div(class='main_block')

      // The title heading.
      div(class='title') vmlaker.github.io
        
      // First row of projects.
      div(class='row')
        div(class='proj_left')
          a(href='/mpipe')
            img(src='button_mpipe.png')
            br
            | MPipe
        div(class='proj_right')
          a(href='/mpipe')
            img(src='button_wabbit.png')
            br
            | Wabbit
            
      // Second row of projects.
      div(class='row')
        div(class='proj_center')
          a(href='/pythonwildmagic')
            img(src='button_pwm.png')
            br
            | Python Wild Magic

      // Third row of projects.
      div(class='row')
        div(class='proj_left')
          a(href='http://github.com/vmlaker/coils')
            img(src='button_coils.png')
            br
            | Coils
        div(class='proj_right')
          a(href='http://github.com/vmlaker/sherlock')
            img(src='button_sherlock.png')
            br
            | Sherlock

      // The blurb.
      div(class='blurb')
        | Welcome to my GitHub page!
        br
        | Check out my projects.
        br
        | Like something?
        br
        | Fork it!

      // Row of social links.
      div(class='row')
        div(class='social_left')
          a(href='http://stackoverflow.com/users/1510289')
            img(src='logo_so.png')
            br
            | Stack Overflow
        div(class='social_center')
          a(href='http://github.com/vmlaker')
            img(src='logo_gh.png')
            br
            | GitHub
        div(class='social_right')
          a(href='http://www.linkedin.com/in/vmlaker')
            img(src='logo_li.png')
            br
            | LinkedIn

      // The footer.
      div(class='footer')
        | &copy; Copyright 2013, Velimir Mlaker.
        | Written in 
        a(href='http://jade-lang.com') Jade 
        |  and 
        a(href='http://sass-lang.com') Sassy CSS
        | .
        br
