/* Defines Sassy CSS stying for the page. */

$bg-color: steelblue;
$text-color: black;
$block-width: 500px;
$row-width: 500px;
$row-height: 80px;
$debug-border: none;

/* Activate for debug. */
/*$debug-border: solid 1px gray;
*/


/* Link preferences. */
a{
    color: $text-color;
    text-decoration: none;
}
a:link{}
a:visited{}
a:hover{
    color: blue;
    text-decoration: underline;
}
a:active{
    color: blue;
    text-decoration: underline;
}

body{
    margin-top: 20px;
    font-size: 110%;
    font-family: Arial;
    color: $text-color;
    background-image:  url(bg.png);
    background-repeat: repeat-x; 

    background-color: $bg-color;
}

.main_block{
    position: relative;
    width: $block-width;
    margin: auto;
    padding: 0;

    background-image:  url(block_bg.png);
    background-repeat: repeat-x; 

    //border-style: solid;
    //border-width: 1px;
    //border-color: gray;

    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 30px black;
}

.title{
    font-size: 300%;
    padding: 120px 0 30px 0;
    text-align: center;
    border: $debug-border;
}

.blurb{
    font-size: 120%;
    text-align: center;
    padding: 25px 60px 120px 60px;
}

/* Row contains projects or social profiles. */
.row{
    position: relative;
    width: $row-width;
    height: $row-height;
    margin: auto;
    border: $debug-border;
}

/* Projects. */
.proj_left, 
.proj_right,
.proj_center{
    position: absolute;
    text-align: center;
    width: $row-width / 7;
    font-size: 90%;
    border: $debug-border;
}
.proj_left{
    left: $row-width / 7 * 2;
}
.proj_center{
    width: $row-width;
    bottom: 10%;
    //left: $row-width / 7 * 3;
}
.proj_right{
    left: $row-width / 7 * 4;
}

/* Social profiles. */
.social_left,
.social_center,
.social_right{
    position: absolute;
    bottom: 40%;
    text-align: center;
    font-size: 90%;
    width: $row-width / 5;
    border: $debug-border;
    white-space: nowrap;
}
.social_left{ 
    left: $row-width / 5 * 1;
}
.social_center{
    left: $row-width / 5 * 2;
}
.social_right{
    left: $row-width / 5 * 3;
}

.footer{
    /* Since container is relative,
       this places footer on the bottom. */
    position: absolute;
    bottom: 0.2em;

    width: 100%;
    text-align: center;
    font-size: 65%;
    font-style: italic;

    border: $debug-border;
}

.footer a{
    color: $bg-color;
}
